*,
*::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Livvic', sans-serif;
	background-color: var(--color-Neutral-0);
	color: var(--color-Neutral-950);
}

img {
	display: block;
	max-width: 100%;
}
