*,
*::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-Neutral-0);
	color: var(--color-Neutral-0);
}

img {
	display: block;
	max-width: 100%;
}
