:root {
	// Neutral
	--color-Neutral-950: hsl(0, 0%, 0%);
	--color-Neutral-50: hsl(0, 0%, 98%);
	--color-Neutral-0: hsl(0, 0%, 100%);

	// Teal
	--color-Teal-950: hsl(186, 100%, 8%);
	--color-Teal-900: hsl(186, 96%, 10%);
	--color-Teal-850: hsl(186, 100%, 14%);
	--color-Teal-800: hsl(186, 98%, 17%);
	--color-Teal-700: hsl(187, 41%, 29%);
	--color-Teal-400: hsl(179, 42%, 63%);

	// Others
	--color-Rose-500: hsl(0, 100%, 75%);
	--color-Cyan-100: hsl(179, 100%, 88%);
}
