:root {
	--font-Livvic-Bold: normal 700 'Livvic', sans-serif;
	--font-Livvic-Semibold: normal 600 'Livvic', sans-serif;
	--font-Livvic-Medium-Italic: italic 500 'Livvic', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	text-decoration: none;
}
