@use '/src/styles/utils/' as util;

.clients {
	background-color: var(--color-Teal-900);
	overflow: hidden;
	position: relative;

	&__wrapper {
		width: 80%;
		margin-inline: auto;
		margin: util.rem(150) auto;
		padding: 0 util.rem(40);
	}

	&__header {
		color: var(--color-Neutral-0);
		text-align: center;
		margin-bottom: util.rem(80);
		@include util.text-preset-3;
	}

	&__logoWrapper {
		display: flex;
		justify-content: center;
		gap: util.rem(80);
	}

	&__logoImage:first-child {
		min-width: util.rem(165);
		height: util.rem(28);
	}

	&__logoImage:nth-child(2) {
		min-width: util.rem(184);
		height: util.rem(23);
	}

	&__logoImage:nth-child(3) {
		min-width: util.rem(180);
		height: util.rem(28);
	}

	&__logoImage:nth-child(4) {
		min-width: util.rem(165);
		height: util.rem(28);
	}

	&__logoImage:last-child {
		min-width: util.rem(98);
		height: util.rem(45);
	}

	&__backgroundImage {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media (max-width: util.rem(1200)) {
	.clients {
		&__wrapper {
			width: 100%;
			padding: 0 util.rem(20);
		}

		&__header {
			@include util.text-preset-4;
		}

		&__logoWrapper {
			display: grid;
			grid-template-areas:
				'logo-1 logo-2'
				'logo-3 logo-4'
				'logo-5 logo-5';
		}

		&__logoImage {
			justify-self: center;
		}

		&__logoImage:first-child {
			grid-area: logo-1;
		}

		&__logoImage:nth-child(2) {
			grid-area: logo-2;
		}

		&__logoImage:nth-child(3) {
			grid-area: logo-3;
		}

		&__logoImage:nth-child(4) {
			grid-area: logo-4;
		}

		&__logoImage:last-child {
			grid-area: logo-5;
			justify-self: center;
		}

		&__backgroundImage {
			top: util.rem(-150);
		}
	}
}

@media (max-width: util.rem(650)) {
	.clients {
		&__logoWrapper {
			display: flex;
			flex-direction: column;
		}

		&__logoImage {
			align-self: center;
		}
	}
}
