@use '/src/styles/utils/' as util;

.clients {
	background-color: var(--color-Teal-900);
	overflow: hidden;
	position: relative;

	&__wrapper {
		width: 80%;
		margin-inline: auto;
		margin: util.rem(150) auto;
		padding: 0 util.rem(40);
	}

	&__header {
		color: var(--color-Neutral-0);
		text-align: center;
		margin-bottom: util.rem(80);
		@include util.text-preset-3;
	}

	&__logoWrapper {
		display: flex;
		justify-content: center;
		gap: util.rem(80);
	}

	&__logoImage:first-child {
		width: util.rem(165);
		height: util.rem(28);
	}

	&__logoImage:nth-child(2) {
		width: util.rem(184);
		height: util.rem(23);
	}

	&__logoImage:nth-child(3) {
		width: util.rem(180);
		height: util.rem(28);
	}

	&__logoImage:nth-child(4) {
		width: util.rem(165);
		height: util.rem(28);
	}

	&__logoImage:last-child {
		width: util.rem(98);
		height: util.rem(45);
	}

	&__backgroundImage {
		position: absolute;
		top: 0;
		left: 0;
	}
}
