@use '/src/styles/utils/' as util;

.features {
	background-color: var(--color-Teal-900);
	overflow: hidden;
	position: relative;

	&__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 80%;
		margin-inline: auto;
		align-self: center;
		margin-top: util.rem(138);
		margin-bottom: util.rem(138);
		padding: 0 util.rem(40);
		gap: util.rem(56);
	}

	&__rectangle {
		width: util.rem(50);
		height: util.rem(4);
		background-color: var(--color-Rose-500);
	}

	&__listWrapper {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		color: var(--color-Neutral-0);
		width: util.rem(445);
		margin-right: util.rem(30);
		@include util.text-preset-3;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: util.rem(25);
		list-style-type: none;
		max-width: util.rem(550);
	}

	&__item {
		display: flex;
		gap: util.rem(25);
	}

	&__iconImage {
		width: util.rem(75);
		height: util.rem(75);
	}

	&__descriptionWrapper {
		display: flex;
		flex-direction: column;
		gap: util.rem(20);
	}

	&__featureHeader {
		color: var(--color-Rose-500);
		@include util.text-preset-6;
	}

	&__description {
		color: var(--color-Neutral-50);
		@include util.text-preset-7-semibold;
	}

	&__backgroundImage {
		position: absolute;
		right: util.rem(-100);
		bottom: util.rem(0);
	}
}

@media (max-width: util.rem(1300)) {
	.features {
		&__listWrapper {
			flex-direction: column;
			gap: util.rem(65);
		}

		&__header {
			width: 80%;
			margin-right: util.rem(0);
			@include util.text-preset-5;
		}

		&__backgroundImage {
			top: util.rem(0);
		}
	}
}

@media (max-width: util.rem(650)) {
	.features {
		&__wrapper {
			max-width: 100%;
		}

		&__item {
			flex-direction: column;
			align-items: center;
		}

		&__descriptionWrapper {
			align-items: center;
		}

		&__description {
			text-align: center;
		}
	}
}
