@use '/src/styles/utils/' as util;

.testimonials {
	background-color: var(--color-Teal-850);
	overflow: hidden;
	position: relative;

	&__wrapper {
		max-width: 80%;
		margin-inline: auto;
		margin-top: util.rem(146);
		margin-bottom: util.rem(146);
		padding: 0 util.rem(40);
	}

	&__header {
		color: var(--color-Neutral-0);
		justify-self: center;
		text-align: center;
		max-width: util.rem(930);
		margin-bottom: util.rem(60);
		@include util.text-preset-3;
	}

	&__span {
		color: var(--color-Cyan-100);
	}

	&__list {
		display: flex;
		list-style-type: none;
		gap: util.rem(30);
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-items: center;
		gap: util.rem(5);
	}

	&__feedbackWrapper {
		opacity: 1;
	}

	&__quotesImage {
		justify-self: center;
	}

	&__feedbackStatement {
		position: relative;
		bottom: util.rem(20);
		color: var(--color-Neutral-0);
		text-align: center;
		@include util.text-preset-7-semibold;
	}

	&__userWrapper {
		display: flex;
		flex-direction: column;
		gap: util.rem(30);
	}

	&__detailsWrapper {
		justify-items: center;
	}

	&__username {
		color: var(--color-Cyan-100);
		@include util.text-preset-6;
	}

	&__userposition {
		@include util.text-preset-8;
		color: var(--color-Neutral-0);
		font-style: italic;
	}

	&__avatarImage {
		align-self: center;
		width: util.rem(70);
		height: util.rem(70);
		border-radius: util.rem(50);
		border: util.rem(2) solid var(--color-Cyan-100);
	}

	&__backgroundImage--first {
		position: absolute;
		top: util.rem(0);
		left: util.rem(0);
	}

	&__backgroundImage--second {
		position: absolute;
		bottom: util.rem(0);
		right: util.rem(0);
	}
}

@media (max-width: util.rem(1360)) {
	.testimonials {
		&__header {
			@include util.text-preset-5;
		}

		&__list {
			flex-direction: column;
		}
	}
}
