@use '/src/styles/utils/' as util;

.callToAction {
	background-color: var(--color-Rose-500);
	overflow: hidden;
	position: relative;

	&__wrapper {
		display: flex;
		margin: util.rem(80) auto;
		max-width: util.rem(910);
		justify-content: space-between;
	}

	&__heading {
		color: var(--color-Teal-900);
		@include util.text-preset-3;
	}

	&__contactButton {
		color: var(--color-Teal-900);
		border: util.rem(2) solid var(--color-Teal-900);
		border-radius: util.rem(50);
		padding: util.rem(8) util.rem(32);
		@include util.text-preset-6;
	}

	&__backgroundImage {
		position: absolute;
		bottom: util.rem(0);
	}
}

@media (max-width: util.rem(1250)) {
	.callToAction {
		&__wrapper {
			flex-direction: column;
			align-items: center;
			justify-self: center;
			text-align: center;
			gap: util.rem(20);
			margin: util.rem(80) util.rem(100);
		}

		&__heading {
			@include util.text-preset-5;
		}
	}
}

@media (max-width: util.rem(650)) {
	.callToAction {
		&__wrapper {
			margin-bottom: util.rem(120);
		}
	}
}
