@use '/src/styles/utils/' as util;

.footer {
	background-color: var(--color-Teal-950);
	overflow: hidden;

	&__div {
		display: grid;
		max-width: 80%;
		margin-inline: auto;
		margin: util.rem(45) auto;
		padding: 0 util.rem(40);
	}

	&__nav--links {
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		margin-top: util.rem(10);
		margin-right: util.rem(130);
		height: util.rem(95);
		gap: util.rem(25);
	}

	&__logo {
		width: util.rem(160);
		height: util.rem(40);
	}

	&__list {
		display: flex;
		list-style-type: none;
		gap: util.rem(40);
	}

	&__item {
		opacity: 1;
	}

	&__link {
		color: var(--color-Neutral-0);
		@include util.text-preset-6;

		&:hover {
			color: var(--color-Rose-500);
		}
	}

	&__div--address {
		grid-row: 1 / 3;
		opacity: 1;
	}

	&__paragraph--address {
		@include util.text-preset-7-semibold;
		color: var(--color-Neutral-60);
	}

	&__list--media {
		grid-row: 1 / 2;
		display: flex;
		justify-content: end;
		height: fit-content;
		list-style-type: none;
		gap: util.rem(20);
	}

	&__item--icon {
		opacity: 1;
	}

	&__link--icon {
		opacity: 1;
	}

	&__icon {
		opacity: 1;

		&:hover {
			filter: invert(54%) sepia(58%) saturate(604%) hue-rotate(312deg) brightness(114%)
				contrast(122%);
		}
	}

	&__paragraph--copyright {
		grid-row: 2 / 3;
		justify-self: end;
		align-self: end;
		color: var(--color-Neutral-60);
		height: fit-content;
		@include util.text-preset-7-semibold;
	}
}

@media (max-width: util.rem(1000)) {
	.footer {
		&__div {
			max-width: 100%;
		}

		&__nav--links {
			grid-row: 1 / 2;
		}

		&__div--address {
			grid-row: 1 / 2;
		}

		&__paragraph--address {
			justify-self: end;
			text-align: end;
		}

		&__list--media {
			grid-row: 2 / 3;
			justify-content: start;
			align-self: end;
			margin-top: util.rem(40);
		}

		&__paragraph--copyright {
			grid-row: 2 / 3;
			align-self: end;
			text-align: end;
		}
	}
}
