@use '/src/styles/utils/' as util;

.footer {
	background-color: var(--color-Teal-950);
	overflow: hidden;

	&__wrapper {
		display: grid;
		max-width: 80%;
		margin-inline: auto;
		margin: util.rem(45) auto;
		padding: 0 util.rem(40);
	}

	&__navLinks {
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		margin-top: util.rem(10);
		margin-right: util.rem(130);
		height: util.rem(95);
		gap: util.rem(25);
	}

	&__logoImage {
		width: util.rem(160);
		height: util.rem(40);
	}

	&__navList {
		display: flex;
		list-style-type: none;
		gap: util.rem(40);
	}

	&__navLink {
		color: var(--color-Neutral-0);
		@include util.text-preset-6;

		&:hover {
			color: var(--color-Rose-500);
		}
	}

	&__address {
		grid-row: 1 / 3;
	}

	&__addressContent {
		@include util.text-preset-7-semibold;
		color: var(--color-Neutral-60);
	}

	&__mediaList {
		grid-row: 1 / 2;
		display: flex;
		justify-content: end;
		height: fit-content;
		list-style-type: none;
		gap: util.rem(20);
	}

	&__mediaItem,
	&__iconLink,
	&__navItem {
		opacity: 1;
	}

	&__iconImage {
		&:hover {
			filter: invert(54%) sepia(58%) saturate(604%) hue-rotate(312deg) brightness(114%)
				contrast(122%);
		}
	}

	&__copyrightContent {
		grid-row: 2 / 3;
		justify-self: end;
		align-self: end;
		color: var(--color-Neutral-60);
		height: fit-content;
		@include util.text-preset-7-semibold;
	}
}

@media (max-width: util.rem(1000)) {
	.footer {
		&__wrapper {
			max-width: 100%;
		}

		&__navLinks,
		&__address {
			grid-row: 1 / 2;
		}

		&__addressContent {
			justify-self: end;
			text-align: end;
		}

		&__mediaList {
			grid-row: 2 / 3;
			justify-content: start;
			align-self: end;
			margin-top: util.rem(40);
		}

		&__copyrightContent {
			grid-row: 2 / 3;
			align-self: end;
			text-align: end;
		}
	}
}

@media (max-width: util.rem(650)) {
	.footer {
		&__navLinks {
			grid-row: 1 / 2;
			margin-top: util.rem(0);
			margin-right: util.rem(0);
			margin-bottom: util.rem(25);
			justify-self: center;
		}

		&__address {
			grid-row: 2 / 3;
		}

		&__addressContent {
			justify-self: center;
			text-align: center;
		}

		&__mediaList,
		&__navList {
			justify-content: center;
		}

		&__mediaList {
			grid-row: 3 / 4;
			margin: util.rem(25) 0;
		}

		&__copyrightContent {
			grid-row: 4 / 5;
			justify-self: center;
			text-align: center;
		}
	}
}
