@use '/src/styles/utils/' as util;

.directorsListItem {
	background-color: var(--color-Teal-900);
	margin-top: util.rem(50);
	position: relative;

	&__wrapper {
		overflow-y: scroll;
		max-height: util.rem(250);

		&--active {
			padding-bottom: util.rem(50);
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__directorImage {
		width: util.rem(100);
		height: util.rem(100);
		border-radius: util.rem(50);
		margin-top: util.rem(35);
		justify-self: center;
	}

	&__directorName {
		margin-top: util.rem(20);
		color: var(--color-Cyan-100);
		justify-self: center;
		@include util.text-preset-6;
	}

	&__directorPosition {
		color: var(--color-Neutral-0);
		justify-self: center;
		@include util.text-preset-7-medium-italic;
		font-style: italic;
	}

	&__directorStatement {
		margin: util.rem(20) util.rem(30);
		text-align: center;
		color: var(--color-Neutral-0);
		@include util.text-preset-7-semibold;
	}

	&__list {
		display: flex;
		list-style-type: none;
		justify-self: center;
		gap: util.rem(20);
	}

	&__item {
		opacity: 1;
	}

	&__iconImage {
		&:hover {
			filter: invert(54%) sepia(58%) saturate(604%) hue-rotate(312deg) brightness(114%)
				contrast(122%);
		}
	}

	&__toggleButton {
		cursor: pointer;
		position: relative;
		top: util.rem(10);

		display: block;
		justify-self: center;
		width: util.rem(60);
		height: util.rem(60);
		border: none;
		border-radius: util.rem(50);
		background-color: var(--color-Rose-500);

		&:hover {
			background-color: var(--color-Cyan-100);
		}
	}

	&__activeButton {
		background-color: var(--color-Rose-500);
		position: absolute;
		top: util.rem(218.5);
		transform: rotateZ(45deg);

		&:hover {
			background-color: var(--color-Rose-500);
		}
	}

	&__buttonImage {
		margin: auto;
	}
}

@media (max-width: util.rem(1400)) {
	.directorsListItem {
		&__directorStatement {
			margin: util.rem(20) util.rem(15);
		}
	}
}
